<%- include('partials/header') %>


<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="box" >
                <div class="col-md-12 pro-img">
                  <img src=<%= user.photos %> alt="" srcset="">
              </div>
                  <h1>Hello, <%= user.displayName %></h1>
                  <br>
                  <h3>Your Details</h3>
                  <p class="text-muted">Your email address: <%= user.email %></p>
                  <a class="forgot text-muted" href="/logout"><input type="button" value="Logout"></a> 
                  
            </div>
          </div>
      </div>
  </div>
</div>
<%- include('partials/footer') %>
